@use "../colors" as *;

body {
  background: $bgColor;
}
.App {
  font-family: "Fira Code", monospace;
  margin: 1em;
  font-size: 1.1em;
}

button {
  font-family: "Fira Code", monospace;
  font-size: 1.1em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  background-color: $buttonsBGColor;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 3px 3px rgba(26, 71, 84, 0.27);
  border: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  &:enabled:hover {
    box-shadow: 0 0 3px 3px rgba(26, 71, 84, 0.27);
    filter: saturate(150%);
  }
  &.add {
    background: $accentColor;
  }
}
