.scene {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .tableWrapper {
    overflow-x: auto;
    table {
      background-image: linear-gradient(270deg, #2e9aff, #f498ad 70%);
      input {
        width: 4em;
      }
      tr {
        th,
        td {
          padding: 0.5em;
          text-align: center;
          &:first-child {
            position: sticky;
            left: 0;
            text-align: left;
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}

// .tableWrapper {
//   overflow-x: auto;

//   table {
//     border-collapse: separate; // важно для sticky

//     th,
//     td {
//       background: white; // чтобы перекрывать прокручиваемые ячейки
//     }

//     th:first-child,
//     td:first-child {
//       position: sticky;
//       left: 0;
//       z-index: 2;
//     }

//     th:last-child,
//     td:last-child {
//       position: sticky;
//       right: 0;
//       z-index: 2;
//     }
//   }
// }
