$bgColor: #eee6e3;
$buttonsBGColor: #7e9aae;

$tableBGColor: #c3d7d1;
$tableGradentColor: #94b2ae;
$tableTextColor: rgb(20, 60, 20);

$leaderColor: rgb(192, 57, 113); // насыщенный летний красный

$accentColor: #ad8ea4;
